doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body
    article
      section(data-bespoke-hash='Title & TeamWorks')
        h1 Eco Green
        hr
        img(src="logo1.jpg")
        h3
          i &quot; save our earth &quot;
        hr
        ol
          li
            b Anggota Kelompok :
          li Arden Liw (10.111.0460)
          li Paulus Cuaca (10.111.0893)
          li Singgih Chongronegoro (10.111.1481)
          li Tonggo Siahaan (10.111.3032)

      section(data-bespoke-hash='Back Ground')
        h2 Latar Belakang
        p Pemanasan Global (global warming) pada dasarnya merupakan fenomena peningkatan temperatur global dari tahun ketahun karena terjadinya efek rumah kaca (greenhouse effect) yang disebabkan oleh meningkatnya emisi gas-gas seperti CFC, CO2,dan Dinitrooksida(N2O) yang mengakibatkan dampak luas bagi lingkungan biogeofisik seperti pelelehan es dikutub(kenaikan muka air laut). Kenaikan muka air laut secara umum akan mengakibatkan terjadinya intrusi air laut. Intrusi air laut juga dipicu oleh terjadinya land subsidence akibat penghisapan air tanah secara berlebihan melalui sumur gali dan sumur bor.

      section
        ul
          li Konsep Eco Green
          li Konsep Produk Eco Green
          li Masalah yang dihadapi
          li Tujuan dan Manfaat Eco Green
          li Implementasi Eco Green

      section
        ul
          li Global Warming
          li Efek Rumah Kaca

      section
        h2 Konsep Eco Green
        p(align="justify") Pada dekade terahir ini kesadaran tentang lingkungan hidup meningkat dengan tajam, gerakan ini tidak hanya melindungi sumber daya alam tetapi jga Efisiensi energi
        p Dalam rangka meminimalisir kerusakan lingkungan sedikit banyaknya harus dimulai dari lingkungan kecil, yang secara umum dapat dilakukan dilingkungan sekitar, 
        p misalnya rancangan bangunan, material, efisiensi penggunaan energi, life cicle ecological living		
      
      section
        h2 Konsep Produk Eco Green
        p Konsep dari Eco-green Product merupakan salah satu konsep pengelolaan dan produksi material yang diupayakan untuk selalu ramah lingkungan. Dalam pengembangan produk eco-green product tidak saja akan berpotensi meningkatkan ekspor, tetapi juga akan menjadi benteng perekonomian nasional,khususnya dalam menghadapi penetrasi pasar produk impor yang secara gencar menyerbu pasar dalam negeri.
        
             
      section
        p Berdasarkan data bahwa hampir setiap tahun, sekitar 500 milyar sampai 1 triliun kantong plastik digunakan di seluruh dunia. Diperkirakan setiap orang menghabiskan 170 kantong plastik setiap tahunnya dan lebih dari 17 miliar kantong plastik dibagikan secara gratis oleh supermarket di seluruh dunia setiap tahunnya. Kantong plastik juga menjadi salah satu penyebab perubahan iklim utama di mana sejak proses produksi hingga tahap pembuangan, sampah plastik mengemisikan gas rumah kaca ke atmosfer.Kegiatan produksi plastik membutuhkan sekitar 12 juta barel minyak dan 14 juta pohon setiap tahunnya. Proses produksinya sangat tidak hemat energi.

      section
          ul
            li
            h2 Masalah yang dihadapi
           li Biaya yang tidak sedikit
           li Membutuhkan tanah yang subur,luas ,dan bebas dari hak kepemilikan
        
      section
              ul
                li
                h2 Tujuan dari Eco Green
               li Hidup hijau
               li mengurangi pemanasan global
               li menghemat energi dan sumber daya alam
              
      section
              ul
                li
                h2 Manfaat dari Eco Green
               li melestarikan bumi
               li mengedukasi masyarakat tentang pentingya penghijauan
               li sebagai bentuk implementasi peduli lingkungan
          
      section
        h2 Global Warming
        hr
        img(src="global-warming.gif")
        p suatu proses meningkatnya suhu rata-rata atmosfer, laut, dan daratan Bumi.

      section
        h2 Efek Rumah Kaca
        hr
        img(src="efek-rumahkaca.jpg")
        p Pertama kali diusulkan oleh Joseph Fourier pada 1824, merupakan proses pemanasan permukaan suatu benda langit (terutama planet atau satelit) yang disebabkan oleh komposisi dan keadaan atmosfernya. Mars, Venus, dan benda langit beratmosfer lainnya (seperti satelit alami Saturnus, Titan) memiliki efek rumah kaca.

      section
        hr
        img(src="eco-green5.jpg")
        h3 eco-green picture

                
      section
        h2 Implementasi Eco Green
      
      section
        h1 Hemat listrik
        p Matikan alat alat yang menggunakan listrik, saat tidak dibutuhkan lagi. Karena jika hemat listrik berarti pembangkit akan efisien, jika pembangkit efisien akan mengurangi gas buang ke udara
        
      section
        p Hal sederhana yang bisa dilakukan untuk menghemat listrik:
         ul 
           li Selalu matikan lampu saat meninggalkan ruangan
           li Tutup pintu dan jendela saat pendingin ruangan dinyalakan
           li Bersihkan dan perbaiki alat pendingin ruangan
           li Hanya gunakan pendingin ruangan (AC) apabila suhu ruangan sangat panas
           li dan sebagai nya
           
      section
        h1 Save environtment
        p Ada banyak langkah kecil yang orang bisa lakukan di rumah untuk membantu menyelamatkan lingkungan.Dalam membuat beberapa perubahan kecil untuk cara Anda melakukan hal-hal di rumah
        p Bercocok tanam merupakan hal yang menyenangkan, selain membantu bumi mengurangi polusi, kegiatan bercocok tanam juga menyehatkan tubuh, Gerakan menyiram, menanam, dan memupuk selama kurang lebih 5 menit dapat merampingkan tangan. Tanamlah sekurang kurangnya satu pohon di halaman rumah Anda, dan jangan lupa untuk membuat lubang resapan air. Hal ini akan sangat membantu bumi kita
        
      section 
        h2 Eco-Green Partisipant
        hr
        img(src="eco-green6.jpg")
        h2 Eco-Green Partisipant

      section
        h2 
          i 1. Save Water
        hr
        img(src="sw.png")
        h3
          i &quot; be smart with water &quot;

      section 
            ul
                li
                h2 a. Conserving Water Indoors
               li Save water from your taps
               li Install low-flow shower heads and faucets or faucet aerators
               li Wash full laundry or dish loads
               li Do less laundry
               li Check your plumbing for leaks, especially leaking toilets and faucets
               li Take shorter showers
      section           
             ul
                li
                h2 b. Conserving Water Outdoors
               li Install a water meter.
               li Care for your lawn in a more water-efficient manner.
               li Grow grass appropriately
               li Plant appropriately
               li Time water usage
               li Maintain your sprinklers and irrigation
               li Don't wash the driveway or sidewalk with a hose
      section
             h2 2.Say No to Plastic
             p Saat Anda berbelanja, walau hanya ke mini market dekat rumah, bawalah selalu tas belanja Anda, dan katakan pada kasirnya saat Anda ingin membayar “Saya bawa tas sendiri, mbak..” Atau saat Anda membeli makanan untuk di bawa kerumah, usahakan untuk tidak menggunakan bahan yang terbuat dari plastik, jika memungkinkan, bawalah tempat makan Anda sendiri dari rumah.
      section
           h2 3.Mom I wanna ride my Bike
           p Ajarkan anak anak Anda untuk selalu menggunakan sepeda, selain menyehatkan badan, bersepeda juga membantu dalam mengurangi polusi. Bersepeda ke sekolah bukan ide yang buruk bukan, untuk dilakukan?, tak usah malu untuk bersepeda saat ke sekolah atau ke kampus, karena saat ini sepeda bukannlah sesuatu yang dianggap ketinggalanjaman. So, ride your bike..

      //
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        hr
        pre
          code.language-javascript.
            bespoke.from('article', {
              keys: true,
              touch: true,
              hash: true,
              state: true,
              bullets: 'li, .bullet'
            });
    //
      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section(data-bespoke-state='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-state">bespoke-state</a>

      section
        h2.bullet Just the beginning...
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild